<p-button
  [icon]="isActiveSort('startYear') ? (sortOrder() === 'ASC' ? 'pi pi-sort-down' : 'pi pi-sort-up') : 'pi pi-calendar'"
  (click)="toggleSortOrder('startYear')" [label]="'Fecha'" [class.p-button-outlined]="!isActiveSort('startYear')"
  class="p-button-sm mr-5">
</p-button>


<p-button
  [icon]="isActiveSort('averageRating') ? (sortOrder() === 'ASC' ? 'pi pi-sort-down' : 'pi pi-sort-up') : 'pi pi-star'"
  (click)="toggleSortOrder('averageRating')" [label]="'Valoración'"
  [class.p-button-outlined]="!isActiveSort('averageRating')" class="p-button-sm">
</p-button>