<div class="w-full max-w-7xl mx-auto p-6">
  <h2 class="text-2xl font-bold mb-6 text-gray-800">Buscador de Películas IMDB</h2>

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="space-y-4">

    <!-- Fila 1: Título y Géneros -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="w-full">
        <label class="block text-sm font-medium text-gray-700 mb-2">Título</label>
        <p-iconfield class="w-full">
          <p-inputicon class="pi pi-search" />
          <input pInputText formControlName="primaryTitle" placeholder="Buscar por título..." class="w-full" />
        </p-iconfield>
      </div>

      <div class="w-full">
        <label class="block text-sm font-medium text-gray-700 mb-2">Géneros</label>
        <p-multiselect formControlName="genres" [options]="genres" placeholder="Selecciona géneros"
          [maxSelectedLabels]="4" display="chip" class="w-full">
        </p-multiselect>
      </div>
    </div>

    <!-- Fila 2: Años -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="w-full">
        <label class="block text-sm font-medium text-gray-700 mb-2">Año desde</label>
        <p-datepicker formControlName="startYearFrom" view="year" dateFormat="yy" [minDate]="minYear"
          [maxDate]="maxYear" showIcon="true" [style]="{ width: '100%' }"></p-datepicker>

        @if(searchForm.hasError('yearRangeInvalid') && (searchForm.get('startYearFrom')?.touched ||
        searchForm.get('startYearTo')?.touched)){
        <div class="text-red-600 text-sm mt-1">
          El año "desde" no puede ser mayor que el año "hasta".
        </div>
        }

      </div>

      <div class="w-full">
        <label class="block text-sm font-medium text-gray-700 mb-2">Año hasta</label>
        <p-datepicker formControlName="startYearTo" view="year" dateFormat="yy" [minDate]="minYear" [maxDate]="maxYear"
          showIcon="true" [style]="{ width: '100%' }"></p-datepicker>
      </div>
    </div>


    <!-- Fila 3: Rating -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="w-full">
        <label class="block text-sm font-medium text-gray-700 mb-2">Rating {{rangeValues[0]}} -
          {{rangeValues[1]}}</label>
        <p-slider [range]="true" formControlName="averageRatingFrom" [min]="0" [max]="10" [(ngModel)]="rangeValues"
          class="w-full">
        </p-slider>
      </div>
      <div class="w-full flex justify-end items-center mt-5">
        <div class="flex items-center">

        </div>
      </div>


    </div>

    <!-- Fila 4: Límites y Botón -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-end">

    </div>
    <div class="w-full flex justify-end mt-6">
      <p-button type="submit" label="Buscar Películas" icon="pi pi-search" class="" [disabled]="searchForm.invalid">
      </p-button>
    </div>

  </form>
</div>