<div class="landing-page">

  <app-search-form (search)="onSearch($event)"></app-search-form>

  @if (movieResource.isLoading()) {

  <app-loading message="Cargando películas..." />

  }

  @if (movieResource.error(); as error) {

  <app-error [message]="error.message" />

  } @else if (movieResource.value(); as response) {

  <div class="results justify-center">

    <div class="flex justify-between mx-20">
      <p class="total">Total de resultados: {{ response.numFound }}</p>

      <app-sort-buttons [currentSortField]="searchParams().sortField" [currentSortOrder]="searchParams().sortOrder"
        (sortChange)="onSortChange($event)" />

    </div>
    <app-movie-list [movies]="response.results"></app-movie-list>
  </div>

  <app-pagination [cursorHistory]="cursorHistory()" [isLoadingNextPage]="isLoadingNextPage()"
    [hasNextPage]="hasNextPage()" (goToPageEmit)="goToPage($event)" (loadNextPage)="loadNextPage()">
  </app-pagination>


  }


</div>